<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <app-sidebar></app-sidebar>
    </div>

    <div class="main col-11">
      <div class="container">
        <h2 class="text-center mt-3">Pagamentos</h2>

        <div class="row m-5">
          <div class="d-flex">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Pesquisar por cliente ou endereço</mat-label>
              <input
                matInput
                [(ngModel)]="searchTerm"
                (ngModelChange)="searchContas()"
              />
              <mat-icon color="accent" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <mat-card
          *ngFor="let conta of contasFiltered"
          class="mat-elevation-z2 m-5"
        >
          <mat-card-header style="place-content: space-between">
            <div class="d-flex">
              <div class="mat-card-header-switch-wrapper mr-3">
                <label class="switch" style="margin-right: 1rem">
                  <input
                    type="checkbox"
                    [checked]="conta.pago"
                    (click)="toggleClientePagou(conta)"
                  />
                  <span class="slider"></span>
                </label>
              </div>
              <mat-icon style="font-size: 24px">{{
                conta.pago ? "done" : "close"
              }}</mat-icon>
            </div>
            <mat-card-title style="font-size: 24px">{{
              conta.cliente.nome
            }}</mat-card-title>
            <mat-card-subtitle class="mb-3">
              <span class="bold-text" style="font-size: 16px">Endereço: </span>
              <span style="font-size: 16px">{{ conta.cliente.endereco }}</span
              ><br />
              <span class="bold-text" style="font-size: 16px"
                >Data de validade:
              </span>
              <span style="font-size: 16px">{{
                conta.validade | date : "dd/MM/yyyy"
              }}</span>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p class="bold-text" style="font-size: 20px">
              Total: {{ conta.total | currency : "BRL" }}
            </p>
            <button mat-icon-button (click)="gerarQrCodePix(conta)">
              <mat-icon>qr_code</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
