<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="main">
      <form
        class="mat-elevation-z2"
        (submit)="enviarCliente()"
        [formGroup]="clienteForm"
        novalidate
      >
        <h2 class="text-center mt-3">Novo cliente</h2>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input
                matInput
                type="text"
                formControlName="nome"
                id="nome"
                required
              />
              <mat-error
                *ngIf="submitted && clienteForm.controls['nome'].invalid"
                >Por favor, insira um nome válido.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>CPF</mat-label>
              <input
                matInput
                type="text"
                id="cpf"
                #cpfInput
                formControlName="cpf"
                required
              />
              <mat-error
                *ngIf="submitted && clienteForm.controls['cpf'].invalid"
              >
                Por favor, insira um CPF válido.
              </mat-error>
              <mat-error *ngIf="submitted && !cpfValido">
                Por favor, insira um CPF válido.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field>
              <mat-label>Endereço</mat-label>
              <input
                matInput
                type="text"
                formControlName="endereco"
                id="endereco"
                required
              />
              <mat-error
                *ngIf="submitted && clienteForm.controls['endereco'].invalid"
                >Por favor, insira um endereço válido.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input
                #telefoneInput
                matInput
                type="text"
                formControlName="telefone"
                id="telefone"
                required
              />
              <mat-error
                *ngIf="submitted && clienteForm.controls['telefone'].invalid"
                >Por favor, insira um número de telefone válido.</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <button class="mt-3" mat-raised-button color="accent" type="submit">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
