<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>

    <div class="main">
      <form
        class="mat-elevation-z2"
        [formGroup]="orcamentoForm"
      >
        <h2 class="text-center mt-3">Novo orçamento</h2>

        <mat-form-field class="mb-3 col-6">
          <mat-label>Cliente</mat-label>
          <input
            type="text"
            placeholder="Fulano da Silva"
            aria-label="Cliente"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.nome }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="myControl.invalid && (myControl.dirty || myControl.touched)"
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 col-4">
          <mat-label>Validade</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="validade"
            placeholder="Escolha uma data"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              orcamentoForm.controls['validade'].invalid &&
              (orcamentoForm.controls['validade'].dirty ||
                orcamentoForm.controls['validade'].touched)
            "
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-card class="text-white mb-5">
          <mat-card-header>
            <mat-card-title>Itens</mat-card-title>
            <mat-card-subtitle *ngIf="orcamento.itens.length == 0"
              >Você ainda não inseriu nenhum item para esse
              orçamento</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div
              *ngFor="let item of orcamento.itens; let i = index"
              class="row align-items-center mb-2"
            >
              <div class="col-5">
                {{ item.nome }} (Quantidade: {{ item.quantidade }} x
                Altura: {{ item.altura}} x Largura: {{ item.largura }} x
                Valor m²: {{ item.valor | currency : "BRL" }}) =
                {{ item.quantidade * item.altura * item.largura * item.valor | currency : "BRL" }}
              </div>
              <div class="col-4 text-right">
                <button
                  mat-icon-button
                  color="warn"
                  aria-label="Remover"
                  (click)="removerItem(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-form-field class="mb-3 col-4">
          <mat-label>Nome do item</mat-label>
          <input
            type="text"
            id="nomeItem"
            formControlName="nomeItem"
            matInput
            placeholder="Janela"
          />
          <mat-error
            *ngIf="
              orcamentoForm.controls['nomeItem'].invalid &&
              (orcamentoForm.controls['nomeItem'].dirty ||
                orcamentoForm.controls['nomeItem'].touched)
            "
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3">
          <mat-label>Altura</mat-label>
          <input
            id="altura"
            formControlName="altura"
            matInput
            placeholder="2.00"
          />
          <mat-error
            *ngIf="
              orcamentoForm.controls['altura'].invalid &&
              (orcamentoForm.controls['altura'].dirty ||
                orcamentoForm.controls['altura'].touched)
            "
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3">
          <mat-label>Largura</mat-label>
          <input
            id="largura"
            formControlName="largura"
            matInput
            placeholder="2.00"
          />
          <mat-error
            *ngIf="
              orcamentoForm.controls['largura'].invalid &&
              (orcamentoForm.controls['largura'].dirty ||
                orcamentoForm.controls['largura'].touched)
            "
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3">
          <mat-label>Quantidade</mat-label>
          <input
            matInput
            id="quantidade"
            formControlName="quantidade"
            placeholder="2"
          />
          <mat-error
            *ngIf="
              orcamentoForm.controls['quantidade'].invalid &&
              (orcamentoForm.controls['quantidade'].dirty ||
                orcamentoForm.controls['quantidade'].touched)
            "
          >
            <div *ngIf="orcamentoForm.controls['quantidade'].errors.required">
              Campo obrigatório
            </div>
            <div *ngIf="orcamentoForm.controls['quantidade'].errors.min">
              Quantidade deve ser maior do que zero
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3">
          <mat-label>Valor m²</mat-label>
          <div>
            <input
              matInput
              currency="BRL"
              id="valor"
              formControlName="valor"
              step="0.01"
              placeholder="200.00"
            />
          </div>
          <mat-error
            *ngIf="
              orcamentoForm.controls['valor'].invalid &&
              (orcamentoForm.controls['valor'].dirty ||
                orcamentoForm.controls['valor'].touched)
            "
          >
            <div *ngIf="orcamentoForm.controls['valor'].errors.required">
              Campo obrigatório
            </div>
            <div *ngIf="orcamentoForm.controls['valor'].errors.min">
              Valor deve ser maior do que zero
            </div>
          </mat-error>
        </mat-form-field>

        <br />

        <button
          class="mb-3"
          mat-stroked-button
          (click)="adicionarItem()"
          color="accent"
        >
          Adicionar item
        </button>

        <br />

        <button mat-raised-button color="accent" (click)="enviarOrcamento()">
          Enviar orçamento
        </button>
      </form>
    </div>
  </div>
</div>
